html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    margin: auto 10%;
}
img{
    height: 450px;
    width: 704px;
    display: block;
    margin: 0px auto;
    text-align: center;
}

h1{
    color: #F205D3;
    text-align: center;
}

p{
    text-align: justify;
}

p.intro-1{
    font-size: 16px;
    font-weight: 300;
    color: blue;
}

p.intro-2{
    font-size: 15px;
    font-weight: 200;
    color: rgb(13, 122, 247);
}

p.content-1{
    font-size: 20px;
    font-weight: 400;
    color: red;
}

p.content-2{
    font-size: 19px;
    font-weight: 300;
    color: rgb(255, 115, 0);
}

p.closing-1{
    font-size: 25px;
    font-weight: 600;
    color: green;   
}

p.closing-2{
    font-size: 24px;
    font-weight: 500;
    color: rgb(85, 128, 0);   
}